/* styles.css */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */

/* body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  } */
  .messenger-icon {
    display: inline-block;
    position: fixed;
    bottom: 90px; /* Adjust this value as needed */
    right: 20px; /* Adjust this value as needed */
    cursor: pointer;
    z-index: 999;
    width: 70px; /* Adjust the width as needed */
    height: 70px;
  }
 
  
  .chatbox-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    
  }
  
  
  .chatbox {
    display: flex;
    flex-direction: column;
    height: 620px;
    width: 500px;
    background-color: white;
    border-radius: 15px; /* Add border-radius for curved corners */


  }
  
  .chatbox-heading {
    background-color:#07338C;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .chatbox-heading img {
    width: 30px;
    height: 30px; /* Set the desired height */
    margin-right: 10px; /* Add margin to separate image from text */
  }
  .chatbox-heading h3{
    margin: 0; /* Remove default margin for h1 */
  }
  
  .chat-messages {
    flex: 1;
    max-height: 550px;
    overflow-y: auto;
    padding: 10px;
  }   
 
  
  #userMessage {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #4c7eb3;
    border-radius: 5px;
    margin-right: 10px;
    
  }

  .title-container {
    /* background-color: #222222; */
    border-radius: 50%;
    width: auto; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  

.close-button-container {
  /* background-color: #222222; */
  border-radius: 50%;
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.close-button {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.refresh-button {
  
  cursor: pointer;
  color: white;
}
.refresh-button-container {
  /* background-color: #222222; */
  border-radius: 50%;
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
}
.option-container {
  display: inline-block;
  margin-right: 0;

  
}

.option {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid  #4c7eb3;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
 
}
.user-message {
  background-color:  #07338C;; /* Light blue */
  padding: 5px 10px;
  border-radius: 10px 0px 10px 10px;
  margin: 5px 0;
  order: 1;
  max-width: 70%;
  color:white;
 


  
}
.user-message-container {
  text-align: left; /* Align user messages to the right */
  margin-bottom: 10px;
  position: relative;
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  justify-content: flex-end;
}

.bot-message {
  background-color: #E6E6E6; /* Background color for bot messages */
  padding: 10px;
  border-radius: 10px; /* Curved corners */
  max-width: 70%; /* Maximum width for the bot message container */
  clear: both;
  margin-bottom: 5px;
  color: #000;
  
  
}
/* Define the animation */
@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* Apply the animation to the messenger icon when hovered */
.messenger-icon:hover {
  animation: jump 0.5s infinite;
}
.bot-message-container {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  
  color: black;
}

.bot-image {
  width: 25px; /* Adjust the width of the bot image */
  height: 25px; /* Adjust the height of the bot image */
  margin-right: 10px; /* Adjust the spacing between the image and the message */
}


.user-image {
  width: 25px; /* Adjust the width of the user image */
  height: 25px; /* Adjust the height of the user image */
  margin-left: 10px; /* Adjust the spacing between the message and the image */
  order: 2;
  
}
.feedback-container {
  margin-left: 50px; /* Moves the feedback container to the right */
  margin-right: 10px; /* Adds some gap on the right side */
  margin-top: 0;


 
}
.greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
.centered-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
.greeting-text {
    color: black;
    font-size: 16px;
    margin-top: 10px;
}

.time {
    position: absolute;
    bottom: -20px; /* Adjust this value to place the time where you want */
    right: 60px; /* Adjust this value to place the time where you want */
    font-size: 0.8em;
    color: gray;
  }
  .powered-by {
    text-align: right;
    padding: 10px;
    font-size: 0.8em;
    color: black;
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 1001; /* Ensure it stays above other elements */
    background-color: white; /* Optional: If you want a background color */
  }
  
  .medha-tech {
    color: red;
  }

  .speech-bubble {
    position: absolute;
    right: 100px;
    bottom: 70px; /* Adjust this value to position the speech bubble correctly */
    background: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-width: 200px;
    font-size: 14px;
    color: #333;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .speech-bubble::after {
    content: '';
    position: absolute;
    bottom: -20px; /* Adjust this value to position the triangle correctly */
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: #f1f1f1 transparent transparent transparent;
  }
  .speech-bubble-close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
  }
  
  
  @media (max-width: 768px) {
    .chatbox {
        width: 100%;
        border-radius: 10px;
        padding-left: 20px;
    }
    
    .chatbox-heading h3 {
        font-size: 16px;
    }
  
   
  }